@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

$color: whitesmoke;
$segundoColor: gray;
$pic: 320px;
$hig: 320px;
$tama: 300px;

body {
  background-image: url(../img/pilon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-brand {
  margin: auto;
  padding: 0rem 0.5rem 1rem 0.5rem;
}

.descripción {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
  font-size: 1.3rem;
  color: $color;
  border: 3px solid gray;
  text-align: justify;
}

p {
  margin-top: 100px;
  background: black;
}
.galeria h3 {
  background: black;
}

img {
  width: $pic;
  height: $hig;
  border-radius: 25px;
  box-shadow: 5px 5px 25px rgb(247, 242, 242);
  margin-top: 60px;
  padding-bottom: 10px;
}

.card {
  margin-top: 5rem;
  background: black;
  margin: auto;
}
.card-text {
  margin-top: 1rem;
}
